.backgray {
  background-color: rgb(235, 232, 232);
}

#textaef2ep11,
#textaef2ep12,
#textaef2ep13 {
  display: none;
  font-size: 14px;
  line-height: 180%;
  padding: 15px 0;
  color: rgb(40, 39, 39);
  text-align: justify;
  padding: 1vh 20px;
}



#myName,
#months,
#visited,
#writers,
#great,
#really,
#ideas {
  width: 60px;
  border-radius: 3px;
  text-align: center;
}

#meetings,
#punctual,
#coming,
#tired,
#finish,
#view {
  width: 70px;
  border-radius: 3px;
  text-align: center;
}

#sightseeing,
#start,
#introduce,
#that,
#just,
#again {
  width: 90px;
  border-radius: 3px;
  text-align: center;
}