.backgray {
  background-color: rgb(235, 232, 232);
}

#textaef2ep11,
#textaef2ep12,
#textaef2ep13 {
  display: none;
  font-size: 14px;
  line-height: 180%;
  padding: 15px 0;
  color: rgb(40, 39, 39);
  text-align: justify;
  padding: 1vh 20px;
}